
extends layout
	
block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		.nav-item
			.navbar-brand Price Alerts
		.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout Sign Out

	input(type='hidden', value= udata._id)#udataId

	div.container(style='margin:20px auto')
		table.table.table-bordered.table-striped
			thead.thead-dark
				tr
					th(style='width:50px;text-align:center') #
					th(style='width:220px') Trading Pair
					th(style='width:220px') Price
					th(style='width:220px') Cross Type
			tbody
			- for (var i = 0; i < alerts.length; i++)
				tr
					td(style='text-align:center')= i+1
					td= alerts[i].pair
					td= alerts[i].price
					td= alerts[i].cross

	.center-vertical
		form.card.card-body.bg-light(method='post')#price-alerts-form
			h2
			h6#sub Create a new price alert.
			hr
			.form-group.row.margin-zero
				label.col-sm-3.col-form-label.col-form-label-sm Trading Pair
				.col-sm-9
					select.custom-select#pair-list(name='pair')
						each item in pairs
							option(selected=item.name == udata.country)= item.name

			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Price Alert
				.col-sm-9
					input.form-control#price-tf(type='text', name='price', value='')

			.form-group.row.margin-zero
				label.col-sm-3.col-form-label.col-form-label-sm Cross Type
				.col-sm-9
					select.custom-select#cross-list(name='cross')
						option Cross Up
						option Cross Down
			hr
			.form-buttons
				button(type='submit')#price-alerts-form-btn2.btn.btn-primary Submit

	// display form errors in a custom modal window //

	include modals/form-errors



block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')